POSTGRES_DB=msdragon
POSTGRES_USER=msdragon
POSTGRES_PASSWORD=change-me
POSTGRES_HOST_PORT=5432
SPRING_JPA_HIBERNATE_DDL_AUTO=update
APP_AUTH_JWT_SECRET=replace-with-openssl-rand-base64-48
APP_AUTH_ACCESS_TOKEN_EXPIRATION=P365D
APP_AUTH_APPLE_CLIENT_ID=com.msdragon.ios
TOUR_API_SERVICE_KEY=
TOUR_API_MOBILE_APP=MSDragon
TOUR_API_CONNECT_TIMEOUT=PT5S
TOUR_API_REQUEST_TIMEOUT=PT10S
TMAP_APP_KEY=
TMAP_SEARCH_OPTION=0
TMAP_CAR_TYPE=1
TMAP_DEFAULT_START_TIME=10:00
TMAP_CONNECT_TIMEOUT=PT5S
TMAP_REQUEST_TIMEOUT=PT15S
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.6-luna
OPENAI_CONNECT_TIMEOUT=PT5S
OPENAI_REQUEST_TIMEOUT=PT30S
OPENAI_MAX_OUTPUT_TOKENS=800
