POSTGRES_DB=msdragon
POSTGRES_USER=msdragon
POSTGRES_PASSWORD=change-me
SPRING_JPA_HIBERNATE_DDL_AUTO=update
APP_AUTH_JWT_SECRET=replace-with-openssl-rand-base64-48
APP_AUTH_APPLE_CLIENT_ID=com.msdragon.ios
